*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: #111;
    color: #fff;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: gray;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 10px;
}

.searchInput{
    border: none;
    background-color: transparent;
    padding: 5px 4px;
    color: #fff;
    outline-color: gray;
}

.searchInput::placeholder{
    color: lightgray;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin-right: 50px;
    color: lightgray;
    cursor: pointer;
    font-weight: 400;
}

/* ------------------------------------------------ */
   /* ========================================== */
/* ------------------------------------------------ */

.slider{
    background: url(img/photo-1604147495798-57beb5d6af73.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    background-size: cover;
    overflow: hidden;
}

.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
}

.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slideBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    /* background-color: yellow; */
}

.sliderImg{
    z-index: 1;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

.sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    color: #fff;
    font-size: 60px;
    font-weight: 300;
    border: 1px solid gray;
    z-index: 1;
    text-align: center;
}


.buyButton{
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    border: 1px solid gray;
    background-color: #111;
    z-index: 1;
    cursor: pointer;
}

.buyButton:hover{
    background-color: #fff;
    color: #111;
}

.sliderItem:nth-child(1) .slideBg{
    background-color: #369e62;
}

.sliderItem:nth-child(2) .slideBg{
    background-color: rebeccapurple;
}

.sliderItem:nth-child(3) .slideBg{
    background-color: teal;
}

.sliderItem:nth-child(4) .slideBg{
    background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .slideBg{
    background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice{
    color: #369e62;
}

.sliderItem:nth-child(2) .sliderPrice{
    color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderPrice{
    color: teal;
}

.sliderItem:nth-child(4) .sliderPrice{
    color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderPrice{
    color: rgb(124, 115, 80);
} 

/* ------------------------------------------------ */
   /* ========================================== */
/* ------------------------------------------------ */

.features{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 10px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureIcon{
    width: 50px;
    height: 50px;
}

.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}

.featureDesc{
    color: gray;
    width: 50%;
    height: 100px;
}

/* ------------------------------------------------ */
   /* ========================================== */
/* ------------------------------------------------ */

.product{
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    /* background-color: yellow; */
}

.productImg{
    width: 50%;
}

.productDetails{
    position: absolute;
    /* background-color: red; */
    top: 20%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 50px;
}

.productDesc{
    font-style: 24px;
    color: gray;
    margin: 20px 0;
    line-height:20px;
}

.colors,
.sizes{
    display: flex;
    gap: 20px;
}

.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: #111;
    cursor: pointer; 
    margin-bottom: 20px;
}



.color:last-child{
    background-color: darkblue;
}

.size{
    padding: 5px 20px;
    border: 1px solid #111;
    cursor: pointer;
    font-size: 20px;
}

.productButton{
    float: right;
    padding: 10px 20px;
    background-color: #111;
    color: #fff;
    cursor: pointer;
}

.productButton:hover{
    background-color: #fff;
    color: #111 ;
}

/* ------------------------------------------------ */
   /* ========================================== */
/* ------------------------------------------------ */


.payment{
    width: 500px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 20px 50px;
    display: none;
    flex-direction: column;
    box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.87);
    -webkit-box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.87);
    /* -moz-box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.87); */
}

.payTitle{
    font-size: 20px;
    color: lightgray;
}

label{
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
}

.payInput{
    padding: 10px 5px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.payInput::placeholder{
    color: lightgray;
}

.cardIcons{
    display: flex;
    gap: 10px;
}

.cardIcon{
    cursor: pointer;
}

.cardInfo{
    display: flex;
    justify-content: space-between;
}

.sm{
    width: 30%;
}

.payButton{
    position: absolute; 
    height: 40px;
    width: 100%;
    bottom: 0px;
    left: 0;
    box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.87);
    -webkit-box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.87);
    background-color: #369e62;
    color: #fff;
    border: none;
    cursor: pointer;
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: gray;
    color: #fff;
    width: 20px;
    height: 20px;
    padding: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.close:hover{
    color: black;
    background-color: rgb(100, 98, 98);
}

/* ------------------------------------------------ */
   /* ========================================== */
/* ------------------------------------------------ */

.gallery{
    padding: 50px;
    display: flex;
}

.galleryItem{
    flex: 1; 
    padding: 50px;
}

.galleryImg{
    width: 100%;
}

/* ------------------------------------------------ */
   /* ========================================== */
/* ------------------------------------------------ */

.newSeason{
    display: flex;
    flex-wrap: wrap;
}

.nsItem{
    flex: 1;
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.nsImg{
    width: 100%;
    height: 500px;
}

.nsTitle{
    font-size: 40px;
}

.nsButton{
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
}

/* ------------------------------------------------ */
   /* ========================================== */
/* ------------------------------------------------ */

footer{
    display: flex;
}

.footerLeft{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.fMenuTitle{
    font-size: 16px;
    margin-bottom: 10px;
}

.fMail{
    margin-top: 10px;
}

.fList{
    list-style: none;
}

.fListItem{
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}

.footerRight{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fInput{
    padding: 5px;
}

.fButton{
    padding: 5px;
    background-color: #111;
    color: white;
}

.fIcons{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.fIcon{
    width: 20px;
    height: 20px;
}

.copyRights{
    font-weight: 300;
    font-size: 14px;
}
/* ------------------------------------------------ */
   /* ========================================== */
/* ------------------------------------------------ */



/*==========@media Query is Start Here {}========== */

/* ======================================== */

@media screen and (max-width:1100px){
        /* =================================== */
    
        .sliderImg{
            width: 55%;
        }
    
        .slideBg{
            width: 600px;
            height: 600px;
        }
    
        .sliderTitle{
            top: 30%;
            right: 3%;
            font-size: 50px;
        }
    
    
        .buyButton{
            top: unset;
            bottom: 15%;
            right: 40px;
            padding: 13px 10px;
        }
        /* ============================================ */
    
        /* ============================================ */
    
        .product{
            display: flex;
            align-items: center;
        }
    
        .productImg{
            width: 50%;
        }
        .productDetails{
            padding: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            position: relative;
            top: 0; 
        }
    
        .productTitle{
            font-size: 50px;
        }
    
        .sizes{
            margin-bottom: 30px;
        }
}


@media screen and (max-width:990px) {

        /* ================= */
        footer{
            flex-direction: column;
            align-items: center;
        }
    
        .footerLeft{
            width: 90%;
            padding: 30px;
            justify-content: space-evenly;
        }
    
        .footerRight{
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 30px;
            background-color: rgb(143, 161, 139);
        }
    
}
/* =================================== */
@media screen and (max-width:700px){
    nav{
        padding: 20px;
    }


    .navBottom{
        flex-wrap: wrap;
    }

    .menuItem{
        margin: 20px;
        font-size: 22px;
    }
    /* =================================== */

    .sliderImg{
        width: 90%;
    }

    .slideBg{
        width: 100%;
        height: 100%;
    }

    .sliderTitle{
        font-size: 35px;
        top: 25%;
        right: 0;
        text-align: center;
    }

    .sliderPrice{
        top: 0%;
        left: unset;
        right: 0%;
        background-color: lightgray;
        font-size: 45px;
        padding: 0 20px;
        
    }


    .buyButton{
        position: absolute;
        top: 0;
        right: unset;
        left: 0;
        font-size: 17px;
        padding: 15px 20px;

    }

    /* ============================================ */

    .features{
        flex-direction: column;
        padding: 40px;
    }
    .featureTitle{
        margin: 5px 0;
    }
    /* ============================================ */

    .product{
        clip-path: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .productImg{
        width: 80%;
    }
    .productDetails{ 
        background-color: rgb(194, 191, 191);
        padding: 10px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: unset; 
    } 

    .productTitle{
        font-size: 50px;
        margin-bottom: 10px;
    }

    .sizes{
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .productButton{
        padding: 15px 30px;
    }
    /* ======================================== */
    .payment{
        width: 90%;
        padding: 20px;
    }
    /* ======================================== */

    .gallery{
        display: none;
    }
    /* ========================================= */

    .newSeason{
        flex-direction: column;
    }
    
    .nsItem:nth-child(2){
        padding: 50px;
    }
    .nsTitle{
        font-size: 30px;
    }
    /* ========================================== */

    footer{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .footerLeft{
        width: 90%;
        padding: 20px;
        background-color: whitesmoke;
    }

    .footerRight{
        width: 90%;
        padding: 30px 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(143, 161, 139);
    }

    .fIcons{
        justify-content: center;
    }

    .fMenuTitle{
        margin-top: 10px;
    }
}



/* ========================================== */



@media screen and (max-width:560px){
    nav{
        padding: 30px;
    }

    .search{
        display: none;
    }

    .navBottom{
        flex-wrap: wrap;
    }

    .menuItem{
        margin: 20px;
        font-size: 20px;
    }
    /* =================================== */

    .slider{
        clip-path: none
    }

    .sliderImg{
        width: 90%;
    }

    .slideBg{
        width: 100%;
        height: 100%;
    }

    .sliderTitle{
        display: none;
    }

    .sliderPrice{
        top: 0%;
        left: unset;
        right: 0%;
        background-color: lightgray;
        font-size: 45px;
        padding: 0 20px;
        
    }

    .buyButton{
        top: 0;
        /* bottom: 0; */
        right: unset;
        left: 0;
        padding: 10px 20px;
    }
    /* ============================================ */

    .features{
        /* flex-wrap: wrap; */
        flex-direction: column;
        padding: 40px;
    }
    .featureTitle{
        margin: 5px 0;
    }
    /* ============================================ */

    .product{
        clip-path: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: red;
        height: 100%;
    }

    .productImg{
        width: 80%;
    }
    .productDetails{ 
        background-color: rgb(194, 191, 191);
        padding: 10px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: unset; 
    } 

    .productTitle{
        font-size: 50px;
        margin-bottom: 10px;
    }

    .sizes{
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .productButton{
        padding: 15px 30px;
    }
    /* ======================================== */
    .payment{
        width: 90%;
        padding: 20px;
    }
    /* ======================================== */

    .gallery{
        display: none;
    }
    /* ========================================= */

    .newSeason{
        flex-direction: column;
    }
    
    .nsItem:nth-child(2){
        padding: 50px;
    }
    .nsTitle{
        font-size: 30px;
    }
    /* ========================================== */

    footer{
        width: 100%;
        background-color: red;
        flex-direction: column;
        align-items: center;
    }

    .footerLeft{
        width: 90%;
        padding: 20px;
        background-color: whitesmoke;
    }

    .footerRight{
        width: 90%;
        padding: 30px 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(143, 161, 139);
    }

    .fIcons{
        justify-content: center;
    }

    .fMenuTitle{
        margin-top: 10px;
    }
}






/* ======================================== */





@media screen and (max-width:480px){
    nav{
        background-color: red;
        padding: 20px;
    }

    .search{
        display: none;
    }

    .navBottom{
        flex-wrap: wrap;
    }

    .menuItem{
        margin: 20px;
        font-size: 20px;
    }
    /* =================================== */

    .slider{
        clip-path: none
    }

    .sliderImg{
        width: 90%;
    }

    .slideBg{
        width: 100%;
        height: 100%;
    }

    .sliderTitle{
        display: none;
    }

    .sliderPrice{
        top: 0%;
        left: unset;
        right: 0%;
        background-color: lightgray;
        font-size: 45px
    }

    .buyButton{
        top: unset;
        bottom: 0;
        right: unset;
        left: 0;
    }
    /* ============================================ */

    .features{
        flex-direction: column;
        padding: 20px;
    }
    .featureTitle{
        margin: 5px 0;
    }
    /* ============================================ */

    .product{
        clip-path: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productImg{
        width: 80%;
    }
    .productDetails{
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0; 
    }

    .productTitle{
        font-size: 50px;
        margin-bottom: 10px;
    }

    .sizes{
        margin-bottom: 40px;
    }

    .productButton{
        padding: 15px 30px;
    }
    /* ======================================== */
    .payment{
        width: 90%;
        padding: 20px;
    }
    /* ======================================== */

    .gallery{
        display: none;
    }
    /* ========================================= */

    .newSeason{
        flex-direction: column;
    }

    .nsItem:nth-child(2){
        padding: 50px;
    }
    .nsTitle{
        font-size: 30px;
    }
    /* ========================================== */

    footer{
        flex-direction: column;
        align-items: center;
    }

    .footerLeft{
        width: 90%;
        padding: 20px;
        background-color: whitesmoke;
    }

    .footerRight{
        width: 90%;
        padding: 30px 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(143, 161, 139);
    }

    .fIcons{
        justify-content: center;
    }

    .fMenuTitle{
        margin-top: 10px;
    }
}
